:root {
    --yellow-color: #FFFF2F;
    --red-color:#ff3355;
    --blue-color: #3355ff;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: Josefin Sans;
} 

body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

.overlapped {
    letter-spacing: -0.25em;
    font-size: 5em;
    font-weight: normal;
    word-spacing: 0.15em;
}
.blue-letter:hover {
    color: #3355ff;
}
.yellow-letter:hover {
    color: #FFFF2F;
}
.red-letter:hover {
    color: #ff3355;
}

.yellow {
    background-color: #FFFF2F;
}
.pts-rect { 
    font-size: 25vw; 
    letter-spacing: -0.1em;
    line-height: 25vh; 
    overflow: hidden;  
} 
.rect2 { 
    opacity: 0.9; 
} 
.rect1a { 
    border-bottom-color: #fff !important; 
} 

#pts_container {
    height: 35%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.header {
    display: flex;
    flex-direction: column;
}
.bio {
    color: black;
    border: 30px solid #ff3355;
    padding: 2em 0em 2em 0em;
}

.language {
    color: black;
}
.language:hover {
    color: #3355ff;
    font-weight: bold;
}
.tagline {
    width: 100%;
}
.title {
    font-size: 4.1em;
    padding: 0.15em 0.25em 0.15em 0em;
    margin: 0;
    text-align: center;

}
.contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 30px solid #3355ff;
    color: black;
    padding: 2em 0em 2em 0em;
}
.link {
    color: black;
    text-decoration: none;
}
.link:visited {
    color: black;
}
.link:hover {
    color: #FFFF2F;
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}

.red {
    background-color: #ff3355;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.15em 0;
}

.title-letter:hover {
    color: #3355ff;
}

.projects-header {
    border: 30px solid var(--yellow-color);
}

.projects {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 47, 0.15); */
    border: 30px solid #3355ff;
    color: black;
}

.project-subheader {
    font-size: 2em;
    margin: 0.15em;
    text-align: left;
}

.explanation {
    width: 100%;
    height: 20%;
    margin: 0.15em;
    font-size: 0.9em;
}

.black {
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
} 

.demo-link {
    color: black;
}

.demo-link:hover {
    color: #ff3355;
}

.footer {
    font-size: 1.5em;
    color: black;
}

.logo {
    width: 32px;
    height: 32px;
}
.logo:hover {
    width: 34px;
    height: 34px;
}

.contact-footer {
    display: flex;
    font-size: 0.5em;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    padding-bottom: 0.5em;
    align-items: center;
}

.footer {
    background-color: var(--blue-color);
}

.footer-language:hover {
    color: var(--yellow-color);
}

.footer-link {
    color: black;
}
.footer-link:hover {
    color: var(--yellow-color);
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
    }
    .bio {
        width: 45%;
        padding: 3em 2em 3em 2em;
    }
    .contact {
        width: 50%;
    }
    .project-content {
        display: flex;
        flex-direction: row;
    }
    .explanation-text {
        overflow-y: auto;
        height: 20em;
    }
    .bio-footer {
        width: 45%;
        padding: 3em 2em 3em 2em;
    }
    .contact {
        width: 50%;
    }
}

.bio-footer {
    background-color: #ff3355;
    color: white;
    width: 100%;
    padding: 2em 0em 2em 0em;
}

.footer-language:hover {
    color: #FFFF2F;
}

@media (min-width: 900px) {
    .explanation-text {
        height: 23em;
    }
}

@media (min-width: 1200px) {
    .explanation-text{
        height: 28em;
    }
